@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body, h1, h2, h4
{
   margin: 0;
    padding: 0;
    background-color: #444440;
    color: #E4E4E4;
    font-family:   'Roboto', sans-serif;
    font-weight: lighter;
    
}body{

    margin-left: 8px;
    margin-right: 8px;
}

.container, body, .hadsakills, main, .redesSociais, .rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    max-width: 35rem;
    margin: 6px;
    padding: 0;
    text-align: center;

}

#imgEu{
    
    height: 190px;
    width: auto;
}

.titulo{
    font-weight:normal;
    font-size: 30px;
}

.subtitulo{
    
    font-size: 23px;
    font-weight: 300;

}

.descricao{
    font-size: 17px;
}

.hadsakills{
    margin: 10px;
    flex-direction: row;

}.ferramentas{
    flex-direction: row;
}
.stacks{
    margin: 5px;
    width: 90px;
    height: 35px;
    background-color: #E4E4E4;
    text-decoration: none;
    border-radius: 7px;
    border: none;


}

.legendas {
    text-align: left;
    margin-left: 50px;

    
}

ul {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

ul li span{
    color: #E4E4E4;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    

}
li {
    
    list-style-type: square;
    font-size: 20px;
    height: 100%;
     
}


.rede {
    margin: 5px;
    height: 45px;
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    border: none;
    color: #E4E4E4;
    transition:all 0.3s ease;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    
}.rede:hover{
    
    opacity: 0.7;
    
}.rede:active{
    opacity: 1;
}
.redesSociais {
    margin-top: 5px;
    width: 100%;
}
.rodape {
    width: 100%;
}

.likedin {
    background-color: #6F9AB9;

}

.git {
    background-color: #E4E4E4;
    color:#444440 ;
}

.insta {
    background-color: #FF6DA2;
    
}



@media screen and (max-width: 535px) {
    .hadsakills {
        flex-direction: column;
        margin: 5px;
        
        
    }
    ul{
        flex-direction: row;
         
        margin: 0;
        padding: 0;
        
        
       
    }
    ul li span{
       
        font-size: 10px; text-align: start;
        
        
    
    }
    li {
        
        padding: 0;
        margin-left: 10px;
        margin-right: 10px;
        text-align: justify;
        font-size: 12px;
        
    
        
        
        
        
    }
    .legendas {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin: 0;
      
       
    }#imgEu{
    
        height:110px;
      
    }
    .titulo{
        font-weight:normal;
        font-size: 20px;
    }.subtitulo{
    
        font-size: 17px;
        
    
    }hr {
        margin: 0;
        background-color: #E4E4E4;
        height: 0.5px;
        border: none;
        margin-bottom: 2px;
    }.descricao{
        font-size: 12px;
    }
    .rede{
        font-weight: normal;
        font-size: 15px;
    }
    .stacks{
        margin: 5px;
        width: 70px;
        height: 25px;
    }
}

@media screen and (max-width: 320px) { 
    .stacks{
        margin: 5px;
        width: 70px;
        height: 25px;
        
    }
    
}